.contentStyle2 {
  padding: 32px;
}

.hoverEffect2::before {
  border-radius: 24px;
  inset: 0 0;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 30px; */
  transition-property: inset;
  transition-duration: 200ms;
  background-color: #4b6095;
}

.hoverEffect2:hover::before {
  inset: -4px -4px;
}
