.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

button.button {
  cursor: pointer;
}

.textClassName {
  display: flex;
  justify-content: center;
  align-items: center;
}
