.contentStyle2 {
  padding: 32px;
  border-top: 2px solid #4b6095;
  border-left: 2px solid #4b6095;
  border-right: 2px solid #4b6095;
  border-bottom: 8px solid #4b6095;
  transition: border 100ms, transform 100ms;
  cursor: pointer;
  transform: translateY(0px);
}

.contentStyle2:hover {
  border-bottom-width: 2px;
  transform: translateY(2px);
}

.hoverEffect2::before {
  border-radius: 24px;
  inset: 0 0;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 30px; */
  transition-property: inset;
  transition-duration: 200ms;
  background-color: #4b6095;
}

.hoverEffect2:hover::before {
  inset: -4px -4px;
}
