.container {
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.line {
  width: 2px;
  height: 24px;
  background-color: var(--primary-color);
  border-radius: 0 0 2px 2px;
}
.dots {
  position: relative;
  height: 60px;
  width: 3px;
}

@keyframes move {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(60px);
  }
}

.dot {
  top: -4px;
  position: absolute;
  animation: move 6000ms infinite linear, fade 6000ms infinite ease-in;
  opacity: 0;
  width: 3px;
  height: 3px;
  border-radius: 3px;
  background-color: var(--primary-color);
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
